*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-y: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap');
#appWrap{
  max-height: 100vh;
  
}
.App-header{
  background-color:#121212;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  color:white;
  padding: 2vh 2vw;
}
@media screen and (max-width: 768px){
  .App-header{
    justify-content:center;
    align-items:center;
    flex-direction:column;
  }
  .App-header li a{
    display: none;
  }
}
.App-header p{
  font-size: 2rem;
  font-weight: 400;
}
@media screen and (max-width: 768px){
  .App-header p{
    font-size: 2rem;
  }
  
}
.App-header li{
  list-style:none;
  display: inline-block;
  margin: 0 1rem;

}
.App-header li a{
  text-decoration:none;
  color:rgb(185, 182, 182);
  font-size: 1.2rem;
  font-weight: 400;
}
.App-header li a:hover{
  color:white;
}

.contentWrap{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: left;
  padding-left: 20vw;
  min-height: 50vh;
}

.contentWrap h2{
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  color:white;
}
.contentWrap p{
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 20px;
  color:white;
}
.inputWrap{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

}
.inputWrap input{
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 0 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color:rgb(185, 182, 182);
  background-color:rgb(185, 182, 182, 0.2);
  margin-left: 6rem;
}
.inputWrap input:focus{
  outline: none;
}
.iconPaste{
  position: absolute;
  margin-left: 15rem;
  color:rgb(185, 182, 182);
  font-size: 1.5rem;
  cursor: pointer;
}
.buttonWrap{
  display: flex;
  align-items: center;
  justify-content: center;
}
.button{
  width: 10vw;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color:#FBBD12;
  color:rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-left: 1rem;
  cursor: pointer;
}
@media screen and (max-width: 768px){
  .inputWrap{
    flex-direction: column;
  }
  .contentWrap{
    padding-left: 0;
    text-align: left;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .contentWrap h2{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    color:white;
  }
  .contentWrap p{
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: "Barlow", sans-serif;
    color:white;
  }
  .inputWrap input{
    width: 100%;
    margin-left: 0;

  }
.button{
  padding: 0 0 0;
  font-size: medium;

  margin: 0;
  margin-left: 1vw;
}

}
@media screen and (max-width: 1400px){
  .App-header{
    justify-content:center;
    align-items:center;
    flex-direction:column;
  }
  .App-header li a{
    display: none;
  }
  .App-header h2{
    font-size: 1rem;
  }
  .contentWrap{
    padding-left: 0;
    text-align: left;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .inputWrap{
    margin-left: 0;
    width: 65%;
    flex-direction: column;
  }
  .inputWrap input{

    width: 100%;
    margin-left: 0;
    margin-bottom: 2vh;
  }
  .button{
    padding-left: 4vh;
    padding-right: 4vh;
    text-align: center;
    width: 100%;
    margin: 0;
    margin-left: 1vw;
  }
}
.footerWrap{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(185, 182, 182, 0.2);
}
.footerWrap p{
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Barlow", sans-serif;
  color:white
}
.footerWrap img{
  width:100px;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}
@media screen and (max-width: 768px){
  .footerWrap{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footerWrap img{
    display: none;
  }
  .footerWrap p{
    margin-bottom: 1vh;
  }
}
.button__text{
  transition: all 0.2s;
}
.button--loading::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}
.finalPage{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color:#121212;
}
.finalPage h1{
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 20px;
  color:#FBBD12;
}
.finalPage h1 a{
  text-decoration:underline;
  color:#FBBD12;
}
.finalPage button{
  width: 10vw;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color:#FBBD12;
  color:rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-left: 1rem;
  cursor: pointer; 
}
@media screen and (max-width: 768px){
  .finalPage{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .finalPage h1{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    color:#FBBD12;
  }
  .finalPage h1 a{
    text-decoration:underline;
    color:#FBBD12;
  }
  .finalPage button{
    padding-left: 2vh;
    padding-right: 2vh;
    text-align: center;
    width: 40%;
    margin: 0;
    margin-left: 1vw;
  }
  
}
.contentWrap button:hover{
  background-color:#c29a2d;
}
.contentWrap button:active{
  background-color:#c29a2d;
}
.contentWrap input:focus{
  outline: none;
}
@media screen and (max-width: 768px){
  .contentWrap{
    flex-direction:column;
    height: "100%";

  }
  .contentWrap h1{
    font-size: 2rem;
  }
  .contentWrap p{
    font-size: 1rem;
  }

  .contentWrap button{
    font-size: 1rem;
  }
  .contentWrap input{
    font-size: 1rem;
  }
}