/* import Poppins font google */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  background: #000;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.wrapper .content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.wrapper .footer {
  /* position on the right */
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  font-size: 14px;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .wrapper .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* space in between */
  }
}

.wrapper .footer p {
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: white;
}

.wrapper .header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
  margin-left: 10px;
}
